In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df=pd.read_csv('C:/Users/sanat/Downloads/archive (2)/Product.csv')

In [7]:
df.head()

,S.No,BrandName,Product ID,Product Name,Brand Desc,Product Size,Currancy,MRP,SellPrice,Discount,Category
0,1,4711,FR001,Cologne Fragrance,ekw eau de cologne 400 ml,Small,Rs.,3900,3120,20% off,Fragrance-Women
1,2,109f,DRW1,DRW1 - Westernwear-Women,womens v- neck short dress - yellow,"Size:Medium,Small,X-Large,XX-Large",Rs.,1899,569,70% off,Westernwear-Women
2,3,109f,DRW2,DRW2 - Westernwear-Women,womens round neck solid top - black,"Size:Large,Medium,Small,X-Large",Rs.,1499,599,60% off,Westernwear-Women
3,4,109f,DRW3,DRW3 - Westernwear-Women,womens round neck stripe shift dress - red,"Size:Medium,Small",Rs.,1599,639,60% off,Westernwear-Women
4,5,109f,DRW4,DRW4 - Westernwear-Women,womens round neck solid high low top - black,"Size:Large,Medium,Small,X-Large",Rs.,1199,479,60% off,Westernwear-Women

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4566 entries, 0 to 4565
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   S.No          4566 non-null   int64
 1   BrandName     4566 non-null   object
 2   Product ID    4566 non-null   object
 3   Product Name  4566 non-null   object
 4   Brand Desc    4566 non-null   object
 5   Product Size  4566 non-null   object
 6   Currancy      4566 non-null   object
 7   MRP           4553 non-null   object
 8   SellPrice     4566 non-null   int64
 9   Discount      4566 non-null   object
 10  Category      4566 non-null   object
dtypes: int64(2), object(9)
memory usage: 392.5+ KB

In [9]:
df.isnull().sum()

S.No             0
BrandName        0
Product ID       0
Product Name     0
Brand Desc       0
Product Size     0
Currancy         0
MRP             13
SellPrice        0
Discount         0
Category         0
dtype: int64

In [ ]:
df.drop(columns=['MRP'],inplace=True)

KeyError: "['MRP'] not found in axis"

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4566 entries, 0 to 4565
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   S.No          4566 non-null   int64
 1   BrandName     4566 non-null   object
 2   Product ID    4566 non-null   object
 3   Product Name  4566 non-null   object
 4   Brand Desc    4566 non-null   object
 5   Product Size  4566 non-null   object
 6   Currancy      4566 non-null   object
 7   SellPrice     4566 non-null   int64
 8   Discount      4566 non-null   object
 9   Category      4566 non-null   object
dtypes: int64(2), object(8)
memory usage: 356.8+ KB